*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
body{        
    background-color: #161f29;
}
h2{
    color: white;
    text-decoration-line: underline;
}
h3{
    color: rgb(159, 159, 29);
    margin-left: 200px;
    margin-right: 200px;
}
.by-laws p{
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    align-content: center;
    border: 2px solid white;
    padding: 20px;
}
.by-laws p:hover{
    border: 5px solid rgb(159, 159, 29) ;
}
hr{
    color:  rgb(159, 159, 29);
    width: 70%;
    margin-left: 200px;
}
.head{
    align-items: center;
    justify-content: center;
    display: flex;
}
.navbar{
    background-color: #161f29;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    height: 105px;
}
.nav-logo{
    width:35%;
}
.logo{
    background-image: url("acm-logo.png");
    background-size:cover;
    height: 100px;
    width: 100px;
}

.border:hover{
    color: yellow;
    font-size: 1.3rem;
}
.nav-elements{
    color: #ccccccf4;
    display: flex;
    font-size: 1rem;
}
.nav-home{
    margin-left: 40px;
    margin-right: 40px;
}
.nav-team{
    margin-left: 40px;
    margin-right: 40px;
}
.nav-events{
    margin-left: 40px;
    margin-right: 40px;
}
.nav-laws{
    margin-left: 40px;
    margin-right: 40px;
}
.nav-register{
    margin-left: 40px;
    margin-right: 40px;
}
.foot-sec{
    background-color:#11181f;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
}
.vvce-logo{
    background-image: url("vvce-logo.png");
    height: 200px;
    width: 200px;
    background-size: cover;
}
.icons{
    margin-left: 25px;
    margin-top: 20px;
    font-size: 40px;
    justify-content: space-evenly;
}
a{
    color: white;
}
a :hover{
    color: yellow;
}
.foot-sec2{
    background-color: #0a0e12;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}
::-webkit-scrollbar{
    width:0.45em;
  }
  ::-webkit-scrollbar-track{
    background: rgb(14, 14, 14);
   
  }
  ::-webkit-scrollbar-thumb{
    background: #c5765138;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #c57651;
  }
  .to-top{
    background-color: #c57651;
    color: #11181f;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
  }
  .to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity:1;
  }
  html{
    scroll-behavior: smooth;
  }
  .to-top:hover{
    background-color: #11181f;
    color: #c57651;
  }
