*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
body{
    background-color: #161f29;
}
.navbar{
    background-color: #161f29;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    height: 105px;
}
.nav-logo{
    width:35%;
}
.logo{
    background-image: url("acm-logo.png");
    background-size:cover;
    height: 100px;
    width: 100px;
}

.border:hover{
    color: yellow;
    font-size: 1.3rem;
}
.nav-elements{
    color: #ccccccf4;
    display: flex;
    font-size: 1rem;
}
.nav-home{
    margin-left: 40px;
    margin-right: 40px;
}
.nav-team{
    margin-left: 40px;
    margin-right: 40px;
}
.nav-events{
    margin-left: 40px;
    margin-right: 40px;
}
.nav-laws{
    margin-left: 40px;
    margin-right: 40px;
}
.nav-register{
    margin-left: 40px;
    margin-right: 40px;
}
.foot-sec{
    background-color: #161f29;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
}
.vvce-logo{
    background-image: url("vvce-logo.png");
    height: 200px;
    width: 200px;
    background-size: cover;
}
.icons{
    margin-left: 25px;
    margin-top: 20px;
    font-size: 40px;
    justify-content: space-evenly;
}
a{
    color: white;
}
a :hover{
    color: yellow;
}
.foot-sec2{
    background-color: #11181f;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}
::-webkit-scrollbar{
    width:0.45em;
  }
  ::-webkit-scrollbar-track{
    background: rgb(14, 14, 14);
   
  }
  ::-webkit-scrollbar-thumb{
    background: #c5765138;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #c57651;
  }
  .hero{
    display: flex;
  }
  .hero-circle{
    width: 600px;
    height: 600px;
    background-color: #c57651;
    border-top-right-radius: 400px;
    border-bottom-right-radius:400px ;
    color:#161f29;
    font-weight: 700;
    margin-top: 50px;
  }
  .hero-circle:hover{
    border: #f7d6c7 5px solid;
    background-color: #485c74;
    color:#ffffff
  }
  .hero-circle img{
    margin-top: 150px;
    margin-left: 100px;
  }
  .hero-circle h2{
    margin-left: 90px;
    font-size: 1.5rem;
    font-family:cursive;
  }
  .hero-text{
    color: white;
    margin-top: 150px;
    margin-left: 100px;
  }
  .hero-text h1{
    color: #c57651;
  }
  .button{
    height: 50px;
    width: 100px;
    background-color: #161f29;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 50px;
  }
  .button a{
    color: #c57651;
    font-family: cursive;
    font-weight: 600;
    text-decoration-line:unset;
  }
  .achievements{
    color: white;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 70px;
  }
  .achievements hr{
    border-color: #c57651;
    width: 900px;
  }
  .to-top{
    background-color: #c57651;
    color: #11181f;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
  }
  .to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity:1;
  }
  html{
    scroll-behavior: smooth;
  }
  .to-top:hover{
    background-color: #11181f;
    color: #c57651;
  }
